<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=title%></title>
    <%- include ./partials/header%>
  </head>
  <body>
    <header>
      <%- include ./partials/nav%>
      <div class="banner">
        <h2>Welcome to NotiFood</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quam
          voluptatum qui aliquam architecto eaque enim rem quae, dolor sunt
          dolorum, optio similique ad? Deserunt eum vero deleniti, delectus,
          repudiandae reprehenderit dolor inventore similique provident ullam
        </p>
      </div>
    </header>

    <section class="standalone-card">
      <h2 class="heading-2">
        What we do...
      </h2>
      <p class="mission">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        nisi quos voluptatibus exercitationem minus voluptatem tempora ullam,
        eaque aut ab beatae corporis libero quibusdam ut saepe quam nihil
        tenetur sequi sint perferendis facilis eveniet, temporibus quidem
        minima! Fugit similique est nobis corrupti quam. Tempora mollitia dolore
        atque minus nemo molestias optio, eum, vel voluptatibus vitae explicabo
        itaque ea possimus? Eos debitis sint dolor quod alias dolorum ad aliquid
        itaque perferendis deleniti ullam, fugit aspernatur deserunt maxime
        obcaecati tempore vero nihil quaerat quidem? Est, asperiores nam
        similique ad quaerat nostrum dicta fugit accusantium! Maiores nihil
        aliquam ut, odio eaque dolorem incidunt!
      </p>
    </section>
    <section class="four-cards">
      <div class="card-container">
        <div class="card">
          <div class="card-image">
            <img src="../images/jed-owen-687229-unsplash.jpg" alt="Image" />
          </div>

          <div class="card-body">
            <div class="card-title">
              <h3>Lorem Ipsum</h3>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            voluptates sunt perspiciatis at dolores odio tempore ea, ducimus
            iusto vero ipsam maxime temporibus dignissimos explicabo voluptatem
            eius architecto fuga esse corrupti sed quia exercitationem atque ex.
            Non excepturi voluptas itaque?
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img
              src="../images/graphic-node-1360825-unsplash.jpg"
              alt="Image"
            />
          </div>

          <div class="card-body">
            <div class="card-title">
              <h3>Lorem Ipsum</h3>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            voluptates sunt perspiciatis at dolores odio tempore ea, ducimus
            iusto vero ipsam maxime temporibus dignissimos explicabo voluptatem
            eius architecto fuga esse corrupti sed quia exercitationem atque ex.
            Non excepturi voluptas itaque?
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img
              src="/images/agence-producteurs-locaux-damien-kuhn-97729-unsplash.jpg"
              alt="Image"
            />
          </div>

          <div class="card-body">
            <div class="card-title">
              <h3>Lorem Ipsum</h3>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            voluptates sunt perspiciatis at dolores odio tempore ea, ducimus
            iusto vero ipsam maxime temporibus dignissimos explicabo voluptatem
            eius architecto fuga esse corrupti sed quia exercitationem atque ex.
            Non excepturi voluptas itaque?
          </div>
        </div>
      </div>
    </section>
    <section class="grids">
      <div class="side-one">
        <h1 class="heading-1">Our Mission Statement</h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
        asperiores obcaecati voluptates quidem ab nam dolorem pariatur officia,
        corrupti dolores praesentium! Magni, illum sunt ea ad exercitationem
        eius cumque sapiente voluptas quidem deserunt, nobis repudiandae
        obcaecati perferendis quam quas iste et ab beatae neque! Est recusandae,
        laboriosam minus veritatis eos nihil cum facere hic, cupiditate maxime
        ipsa facilis quasi in inventore fugiat? Ratione qui quibusdam,
        consequatur voluptas numquam minima, quod provident ex sint asperiores
        atque tempora minus ducimus a expedita sed nam quia maiores? Porro quia
        consequuntur, sapiente soluta numquam fuga in hic at consectetur libero
        aperiam corporis expedita perferendis.
      </div>

      <div class="side-two">
        <div class="sub-cards">
          <div class="card">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
            asperiores obcaecati voluptates quidem ab nam dolorem pariatur
            officia, corrupti dolores praesentium! Magni, illum sunt ea ad
            exercitationem eius cumque sapiente voluptas quidem deserunt, nobis
            repudiandae obcaecati perferendis
          </div>
          <div class="card">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
            asperiores obcaecati voluptates quidem ab nam dolorem pariatur
            officia, corrupti dolores praesentium! Magni, illum sunt ea ad
            exercitationem eius cumque sapiente voluptas quidem deserunt, nobis
            repudiandae obcaecati perferendis
          </div>
          <div class="card">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
            asperiores obcaecati voluptates quidem ab nam dolorem pariatur
            officia, corrupti dolores praesentium! Magni, illum sunt ea ad
            exercitationem eius cumque sapiente voluptas quidem deserunt, nobis
            repudiandae obcaecati perferendis
          </div>
        </div>
      </div>
    </section>
    <section class="four-cards">
      <div class="card-container">
        <div class="card">
          <div class="card-image">
            <img src="../images/jed-owen-687229-unsplash.jpg" alt="Image" />
          </div>

          <div class="card-body">
            <div class="card-title">
              <h3>Lorem Ipsum</h3>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            voluptates sunt perspiciatis at dolores odio tempore ea, ducimus
            iusto vero ipsam maxime temporibus dignissimos explicabo voluptatem
            eius architecto fuga esse corrupti sed quia exercitationem atque ex.
            Non excepturi voluptas itaque?
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img src="../images/jed-owen-687229-unsplash.jpg" alt="Image" />
          </div>

          <div class="card-body">
            <div class="card-title">
              <h3>Lorem Ipsum</h3>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            voluptates sunt perspiciatis at dolores odio tempore ea, ducimus
            iusto vero ipsam maxime temporibus dignissimos explicabo voluptatem
            eius architecto fuga esse corrupti sed quia exercitationem atque ex.
            Non excepturi voluptas itaque?
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <img
              src="../images/agence-producteurs-locaux-damien-kuhn-97729-unsplash.jpg"
              alt="Image"
            />
          </div>

          <div class="card-body">
            <div class="card-title">
              <h3>Lorem Ipsum</h3>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            voluptates sunt perspiciatis at dolores odio tempore ea, ducimus
            iusto vero ipsam maxime temporibus dignissimos explicabo voluptatem
            eius architecto fuga esse corrupti sed quia exercitationem atque ex.
            Non excepturi voluptas itaque?
          </div>
        </div>
      </div>
    </section>
    <section class="subscription">
      <h1 class="heading-1">Subscribe to our Newsletter</h1>
      <form action="#">
        <input type="text" name="email" class="email" />
        <input type="button" value="Submit" />
      </form>
    </section>
    <section class="slideShow">
      <div class="slide"></div>
      <!-- <div class="slide"></div>
      <div class="slide"></div>
      <div class="slide"></div> -->
    </section>
    <%- include ./partials/footer%> <%- include ./partials/extensions%>
  </body>
</html>
